{
    "openapi": "3.0.0",
    "info": {
        "title": "Projecte Final ",
        "description": "REST API. Projecte Final. DAW Client i servidor Joan R, Dimitry C, Javier P.",
        "contact": {
            "name": "Joan Ramis.",
            "email": "joanramis1@paucasesnovescifp.cat"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://www.rampacom.com/ProyectoFinal/public/"
        },
        {
            "url": "http://127.0.0.1/projecte/TreballFinal/ProyectoFinal/public/"
        }
    ],
    "paths": {
        "/api/alojamiento/{id}": {
            "get": {
                "tags": [
                    "Alojamientos"
                ],
                "summary": "Mostrar un Alojamiento por ID",
                "description": "Descripcion de un Alojamiento.",
                "operationId": "de88b08a26d3b781d8f348571cfdc735",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del Alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del alojamiento",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion del alojamiento.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "alojamiento no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/alojamiento/usuario/{idusuario}": {
            "get": {
                "tags": [
                    "Alojamientos"
                ],
                "summary": "Mostrar alojamientos por ID usuario",
                "operationId": "5fd59b90dc973684ebe1fb5cca27c67d",
                "parameters": [
                    {
                        "name": "idusuario",
                        "in": "path",
                        "description": "Id del usuario",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del usuario",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de los alojamientos."
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Alojamiento no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/alojamiento": {
            "get": {
                "tags": [
                    "Alojamientos"
                ],
                "summary": "Mostrar todos los Alojamientos",
                "description": "Lista todos los Alojamientos.",
                "operationId": "8815afbbf45accf74f99cd57dbe05e26",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los Alojamientos."
                    }
                }
            }
        },
        "/api/alojamiento/borra/{id}": {
            "delete": {
                "tags": [
                    "Alojamientos"
                ],
                "summary": "Borra un Alojamiento",
                "description": "Borra un Alojamiento. Solo por Administradores",
                "operationId": "f855b11ea7293ced129250446767bc80",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "ID no encotrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/alojamiento/crea": {
            "post": {
                "tags": [
                    "Alojamientos"
                ],
                "summary": "Crea un Alojamiento",
                "description": "Crea un Alojamiento. Solo por Administradores.",
                "operationId": "7cd0bb4abbae31270021b21b417b7c3f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nombre": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es un nuevo nombre de Alojamiento"
                                    },
                                    "direccion": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es una nueva direccion"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es una descripción"
                                    },
                                    "numeroPersonas": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "numeroHabitaciones": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "numeroCamas": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    },
                                    "numeroBanos": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "tipoAlojamiento": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "tipoVacacional": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "categoria": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "municipio": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "usuario": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "destacado": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/alojamiento/modifica/{id}": {
            "put": {
                "tags": [
                    "Alojamientos"
                ],
                "summary": "Modifica un Alojamiento",
                "description": "Modifica un Alojamiento. Solo por Administradores.",
                "operationId": "d65eaf6e7dedac96b8dcd6ba6f217d4c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Categoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nombre": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es un nuevo nombre de Alojamiento"
                                    },
                                    "direccion": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es una nueva direccion"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es una descripción"
                                    },
                                    "numeroPersonas": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "numeroHabitaciones": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "numeroCamas": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    },
                                    "numeroBanos": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "tipoAlojamiento": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "tipoVacacional": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "categoria": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "municipio": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "usuario": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "destacado": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/AlojaServi/servicio/{idservei}/alojamiento/{idallotjament}": {
            "get": {
                "tags": [
                    "AlojamientosServicios"
                ],
                "summary": "Mostrar una Valoracion por ID servicio y la ID de alojamiento",
                "description": "Descripcion de una Valoracion.",
                "operationId": "8687d31a9d8f3d539261cf627be52efe",
                "parameters": [
                    {
                        "name": "idservei",
                        "in": "path",
                        "description": "Id del servicio",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idallotjament",
                        "in": "path",
                        "description": "Id del alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de la Valoracion.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Valoracion no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/AlojaServi/aloja/{AlojamientoId}": {
            "get": {
                "tags": [
                    "AlojamientosServicios"
                ],
                "summary": "Mostrar servicios por ID alojamiento",
                "description": "Descripcion de una AlojamientosServicios.",
                "operationId": "1361204dad41b441bc3fbe740af63b72",
                "parameters": [
                    {
                        "name": "AlojamientoId",
                        "in": "path",
                        "description": "Id del Alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del alojamiento",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion del servicio."
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Valoracion no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/AlojaServi": {
            "get": {
                "tags": [
                    "AlojamientosServicios"
                ],
                "summary": "Mostrar todas las servicios con su ID alojamiento",
                "description": "Lista todas los servicios.",
                "operationId": "76abad1771351ed843628af5d4b58b41",
                "responses": {
                    "200": {
                        "description": "Mostrar todas las Valoraciones."
                    }
                }
            }
        },
        "/api/AlojaServi/borra/servicio/{idservei}/alojamiento/{idallotjament}": {
            "delete": {
                "tags": [
                    "AlojamientosServicios"
                ],
                "summary": "Borra un servicio por su ID y la ID alojamiento",
                "description": "Borra un servicio asociado a un alojamiento. Solo por Administradores",
                "operationId": "10c9b3b3e23c23fa571b27876b0a9da1",
                "parameters": [
                    {
                        "name": "idservei",
                        "in": "path",
                        "description": "Id del servicio",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idallotjament",
                        "in": "path",
                        "description": "Id del alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "ID no encotrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/AlojaServi/crea": {
            "post": {
                "tags": [
                    "AlojamientosServicios"
                ],
                "summary": "Crea un servicio asociado a una ID alojamiento",
                "description": "Crea un servicio. Solo por Administradores.",
                "operationId": "278dc46a7876983948fe9945086beb6e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "servicioId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 2
                                    },
                                    "alojamientoId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/AlojaServi/modifica/servicio/{idservei}/alojamiento/{idallotjament}": {
            "put": {
                "tags": [
                    "AlojamientosServicios"
                ],
                "summary": "Modifica una Valoracion",
                "description": "Modifica una Valoracion. Solo por Administradores.",
                "operationId": "04e7d9a32db2d1ba5f57aac4cbeceeeb",
                "parameters": [
                    {
                        "name": "idservei",
                        "in": "path",
                        "description": "Id del servicio",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idallotjament",
                        "in": "path",
                        "description": "Id del alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "servicioId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 2
                                    },
                                    "alojamientoId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categoria/{id}": {
            "get": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Mostrar una Categoria por ID",
                "description": "Descripcion de una Categoria.",
                "operationId": "aa80dd70b2dcf596701963c03af9d85b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id de la Categoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del alojamiento",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de la Categoria.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Categoria no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categoria": {
            "get": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Mostrar todas las Categorias",
                "description": "Lista todas las Categorias.",
                "operationId": "0a5a5e299b3da1546921c965f98a9710",
                "responses": {
                    "200": {
                        "description": "Mostrar todas las Categorias."
                    }
                }
            }
        },
        "/api/categoria/borra/{id}": {
            "delete": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Borra una Categoria",
                "description": "Borra una Categoria. Solo por Administradores",
                "operationId": "0463427d406a28ea0390c69032b53f09",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Categoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "ID no encotrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categoria/crea": {
            "post": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Crea una Categoria",
                "description": "Crea una Categoria. Solo por Administradores.",
                "operationId": "5f7bafdf75b67ff0482514be1a87a47f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nombreCategoria": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es un nuevo nombre de Categoria"
                                    },
                                    "tarifaBaja": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "10"
                                    },
                                    "tarifaAlta": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "20"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/categoria/modifica/{id}": {
            "put": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Modifica una Categoria",
                "description": "Modifica una Categoria. Solo por Administradores.",
                "operationId": "93c8e6b91db7a269e8206581895405ad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Categoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nombre_categoria": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es un nuevo nombre de Categoria"
                                    },
                                    "tarifa_baixa": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "10"
                                    },
                                    "tarifa_alta": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "20"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/descripcion/{id}": {
            "get": {
                "tags": [
                    "Descripcion"
                ],
                "summary": "Mostrar una Descripcion por ID",
                "description": "Mostrar una Descripcion.",
                "operationId": "b98f9720b47eb38bfa6ff3085063efa0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de la Descripcion",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID de la Descripcion",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de la Descripcion.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Descripcion no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/descripcion/aloja/{AlojamientoId}": {
            "get": {
                "tags": [
                    "Descripcion"
                ],
                "summary": "Mostrar descripciones",
                "operationId": "273636bd2dea5839d752e9e778969cf1",
                "parameters": [
                    {
                        "name": "AlojamientoId",
                        "in": "path",
                        "description": "Id del Alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del alojamiento",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de la Valoracion."
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Valoracion no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/descripcion": {
            "get": {
                "tags": [
                    "Descripcion"
                ],
                "summary": "Mostrar todas las Descripcion",
                "description": "Lista todas las Descripciones.",
                "operationId": "04707685f4596c2fc74ab8b9abd4e8e3",
                "responses": {
                    "200": {
                        "description": "Mostrar todas las Descripcion."
                    }
                }
            }
        },
        "/api/descripcion/borra/{id}": {
            "delete": {
                "tags": [
                    "Descripcion"
                ],
                "summary": "Borra una Descripcion",
                "description": "Borra una Descripcion. Solo por Administradores",
                "operationId": "14ab136d53f2cc047893233ca0a07718",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de la Descripcion",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "ID no encotrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/descripcion/crea": {
            "post": {
                "tags": [
                    "Descripcion"
                ],
                "summary": "Crea una Descripcion",
                "description": "Crea una Descripcion. Solo Usuarios",
                "operationId": "3dcb2164f213d2845cfd6a38313f389d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "descripcion": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es el contenido de la Descripcion"
                                    },
                                    "idiomaId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 1
                                    },
                                    "alojamientoId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/descripcion/modifica/{id}": {
            "put": {
                "tags": [
                    "Descripcion"
                ],
                "summary": "Modifica una Descripcion",
                "description": "Modifica una Descripcion. Solo por Administradores.",
                "operationId": "7fd3541e0afa226155b2a9a25bb9c131",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Tipo Alojamiento",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "descripcion": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es el contenido de la Descripcion"
                                    },
                                    "idioma_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "Esto es la ID del Idioma de la Descripcion"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/fotografia/{id}": {
            "get": {
                "tags": [
                    "Fotografias"
                ],
                "summary": "Mostrar una Fotografia por ID",
                "description": "Descripcion de una Fotografia.",
                "operationId": "aea9bc9cb129cdf23fd98c27f85c2339",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de la Fotografia",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID de la Fotografia",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de la Fotografia.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Fotografia no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/fotografia/aloja/{id}": {
            "get": {
                "tags": [
                    "Fotografias"
                ],
                "summary": "Mostrar una Fotografia por ID",
                "description": "Descripcion de una Fotografia.",
                "operationId": "cd8f664cc82d4747337b4016b09bf0a1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de la Fotografia",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del alojamiento",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion de la Fotografia.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Fotografia no encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/fotografia": {
            "get": {
                "tags": [
                    "Fotografias"
                ],
                "summary": "Mostrar todas las Fotografias",
                "description": "Lista todas las Fotografias.",
                "operationId": "11c50e4c1aa9448ab593a825298f3290",
                "responses": {
                    "200": {
                        "description": "Mostrar todas las Fotografias."
                    }
                }
            }
        },
        "/api/fotografia/borra/{id}": {
            "delete": {
                "tags": [
                    "Fotografias"
                ],
                "summary": "Borra una Fotografia",
                "description": "Borra una Fotografia. Solo por Administradores",
                "operationId": "6e12be3407ed0c3f6b10298089714241",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Fotografia",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "ID no encotrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/fotografia/crea": {
            "post": {
                "tags": [
                    "Fotografias"
                ],
                "summary": "Crea una Fotografia",
                "description": "Crea una Fotografia. Solo por Administradores. Si no le pasamos una id de alojamiento correcta no permite publicarla",
                "operationId": "5960c0b46cebc2fcccd27aaf79e25925",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "ruta": {
                                        "type": "file",
                                        "format": "file",
                                        "example": "Pujar la foto i generar la ruta"
                                    },
                                    "alojamientoId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/fotografia/modifica/{id}": {
            "put": {
                "tags": [
                    "Fotografias"
                ],
                "summary": "Modifica una Fotografia",
                "description": "Modifica una Fotografia. Solo por Administradores. Para modificar una foto debemos usar el método POST y añadir un atributo (_method= PUT) en el body.",
                "operationId": "9d945a0c0c8ae13b9e78b2750ab98e64",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Fotografia",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "ruta": {
                                        "type": "file",
                                        "format": "file",
                                        "example": "Pujar la foto i generar la ruta"
                                    },
                                    "alojamientoId": {
                                        "type": "number",
                                        "format": "number",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/idioma/{id}": {
            "get": {
                "tags": [
                    "Idiomas"
                ],
                "summary": "Mostrar un Idioma por ID",
                "description": "Descripcion de un Idioma.",
                "operationId": "709f85a3b3076471b218f91fbe1ed831",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del Idioma",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "id": {
                                "summary": "Introduce el numero de ID del Idioma",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informacion del Idioma.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hay un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Idioma no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/idioma": {
            "get": {
                "tags": [
                    "Idiomas"
                ],
                "summary": "Mostrar todos los Idiomas",
                "description": "Lista todos los Idiomas.",
                "operationId": "16c87262bfa928e5d23ca6c3080f5559",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los Idiomas."
                    }
                }
            }
        },
        "/api/idioma/borra/{id}": {
            "delete": {
                "tags": [
                    "Idiomas"
                ],
                "summary": "Borra un Idioma",
                "description": "Borra un Idioma. Solo por Administradores",
                "operationId": "52df9fcec717a89c43a5604ea62cb6a6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Idioma",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "ID no encotrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/idioma/crea": {
            "post": {
                "tags": [
                    "Idiomas"
                ],
                "summary": "Crea un Idioma",
                "description": "Crea un Idioma. Solo por Administradores.",
                "operationId": "329cc4285399793eebaebfbad6bfc5f1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "idioma": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es un nuevo Idioma"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/idioma/modifica/{id}": {
            "put": {
                "tags": [
                    "Idiomas"
                ],
                "summary": "Modifica un Idioma",
                "description": "Modifica un Idioma. Solo por Administradores.",
                "operationId": "4c145f4b3bb369d58faa84696925cd57",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Idioma",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "idioma": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Esto es un nuevo Idioma"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/Log/in": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Accede",
                "description": "Accede",
                "operationId": "c93d9a8a35497b3a6a346aa024511ba5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "correo": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "example@mail.com"
                                    },
                                    "contrasena": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Contrasena_exemple"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atributo obligatorio requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/Log/out": {
            "post": {
                "tags": [
                    "Logout"
                ],
                "summary": "Salir",
                "description": "Cierre sesión",
                "operationId": "9a8b677ad08a35acc23392c1e86e9893",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
